<div class="header">
  <div class="navbar navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Darts!</a>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

      </div>

      <div class="collapse navbar-collapse" id="js-navbar-collapse">

        <ds-nav></ds-nav>

        <div class="navbar-right">
          <ds-user-name></ds-user-name>
          <ds-user-status></ds-user-status>
        </div>

      </div>
    </div>
  </div>
</div>
